body{
    background-color: black;
}
#saltar{
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#saltar a{
    margin-left: 0.5rem;
    text-decoration: none;
    color: white;
}
header{
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header figure{
    height: 90%;
    margin: 0;
}
header figure img{
    height: 100%;
}
header h1{
    color: #f3db7b;
}
nav{
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    border: 2px;
    border-color: #f3db7b;
    border-style: solid;
    color: #f3db7b;
    margin-left: 0.5rem;
}
nav a:hover{
    background-color: rgb(60, 60, 60);
}
nav a:focus{
    color: white;
    border-color: white;
}
main{
    color: white;
    display: flex;
}
.flexwrap{
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#mainindex article{
    width: 40%;
    border: 2px solid #f3db7b;
    padding: 3rem 3rem;
}
#articulo1{
    border-radius: 0 25%;
    background-color: white;
    color: black;
}
#articulo2{
    border-radius: 25% 0;
}
footer{
    height: 10vh;
    color: #f3db7b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer a{
    color: #f3db7b;
}
#mainreparto article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: white;
    color: black;
    margin: 1rem 0;
    border: 3px solid #f3db7b;
    border-radius: 10%;
}
#mainreparto article figure{
    text-align: center;
    width: 40%;
}
#mainreparto article figure img{
    width: 100%;
    border-radius: 50%;
}
#mainreparto article h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 2rem;
    background-color: #f3db7b;
    font-size: medium;
}
.contenidoconaside{
    display: flex;
    flex-direction: row;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    
}
tr:hover{
    background-color: #f3db7b;
}
th{
    border: 1px solid white;
}
td{
    border: 1px solid white;
}